/*Init variable*/
/*import*/
/*------------------initilization------------------*/
/* line 2, C:/wamp/www/Menu/src/css/init.scss */
html {
  box-sizing: border-box; }

/* line 6, C:/wamp/www/Menu/src/css/init.scss */
*, *:before, *:after {
  box-sizing: inherit; }

/*-------------------------------------------------*/
/*-----------------init base element-------------*/
/* line 11, C:/wamp/www/Menu/src/css/init.scss */
body {
  padding: 15px 0 0 0px;
  margin: 0; }

/* line 14, C:/wamp/www/Menu/src/css/init.scss */
footer {
  background-color: #DEDDDD;
  min-height: 300px;
  margin-top: 150px; }

/* line 17, C:/wamp/www/Menu/src/css/init.scss */
a {
  text-decoration: none;
  color: black; }

/* line 20, C:/wamp/www/Menu/src/css/init.scss */
h3 {
  font-size: 1.4em; }

/* line 23, C:/wamp/www/Menu/src/css/init.scss */
i {
  padding-bottom: 5px; }

/* line 26, C:/wamp/www/Menu/src/css/init.scss */
input[type="text"], textarea {
  border-radius: 5px 5px;
  min-width: 100%;
  font-size: 1.2em;
  margin: 4px 0; }

/*-----------------------------------------------*/
/* line 1, C:/wamp/www/Menu/src/css/ButtonCustom.scss */
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  float: right; }

/* line 19, C:/wamp/www/Menu/src/css/ButtonCustom.scss */
.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none; }

/*-------------------------------------------------*/
/*---------------------Nav-------------------------*/
/* line 11, C:/wamp/www/Menu/src/css/style.scss */
nav {
  padding-left: 40px;
  background-color: #DEDDDD;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

/* line 15, C:/wamp/www/Menu/src/css/style.scss */
nav ul {
  text-decoration: none;
  padding-left: 0;
  margin: 0; }

/* line 18, C:/wamp/www/Menu/src/css/style.scss */
nav ul li {
  display: inline-block;
  padding-bottom: 10px;
  margin-right: 30px;
  font-size: 1.5em;
  min-width: 40px;
  font-family: cursive;
  text-align: center;
  border-bottom: 3px solid #DEDDDD; }

/* line 22, C:/wamp/www/Menu/src/css/style.scss */
nav ul li:hover {
  color: red;
  border-bottom: 3px solid red; }

/* line 25, C:/wamp/www/Menu/src/css/style.scss */
#curentPage {
  color: red; }

/*>>>>>>>>>>>>For Acces to the responsive menu */
/* line 28, C:/wamp/www/Menu/src/css/style.scss */
#barMenuAcces {
  float: right;
  position: relative;
  top: 10px;
  right: 15px; }

/* line 31, C:/wamp/www/Menu/src/css/style.scss */
.contentBarMenuAcces {
  display: none; }

/*>>>>>>>>>>>>>>>>>>>>>>*/
/*-----------------------------------------------*/
/*----------------------Form--------------------*/
/* line 36, C:/wamp/www/Menu/src/css/style.scss */
textarea {
  resize: none;
  height: 100px; }

/* line 38, C:/wamp/www/Menu/src/css/style.scss */
form {
  width: 40%;
  min-width: 370px;
  margin: auto; }

/* line 41, C:/wamp/www/Menu/src/css/style.scss */
form div {
  min-height: 40px; }

/*-----------------------------------------------*/
/*----------------------Footer--------------------*/
/* line 45, C:/wamp/www/Menu/src/css/style.scss */
.info_footer {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  padding-left: 5px; }

/* line 48, C:/wamp/www/Menu/src/css/style.scss */
.body_footer {
  display: inline-block;
  width: 70%;
  vertical-align: top;
  padding-left: 5px; }

/* line 51, C:/wamp/www/Menu/src/css/style.scss */
.title_footer {
  text-align: center;
  color: crimson;
  font-size: 1.3em;
  vertical-align: top; }

/*-----------------------------------------------*/
/*-------------------Page Presentation-----------*/
/* line 55, C:/wamp/www/Menu/src/css/style.scss */
.chevron {
  color: #DEDDDD; }

/* line 58, C:/wamp/www/Menu/src/css/style.scss */
.chevron:hover {
  color: red; }

/* line 61, C:/wamp/www/Menu/src/css/style.scss */
#imgProfil {
  border-radius: 50% 50%; }

/* line 64, C:/wamp/www/Menu/src/css/style.scss */
#ContentProfilIntro {
  width: 50%;
  min-width: 370px;
  margin: 30px auto 0 auto;
  text-align: center; }

/* line 66, C:/wamp/www/Menu/src/css/style.scss */
.Presentation {
  padding: 20px 0 0 0; }

/*-----------------------------------------------*/
@media screen and (max-width: 640px) {
  /* line 2, C:/wamp/www/Menu/src/css/MediaQueries.scss */
  footer {
    display: flex;
    webkit-flex-wrap: wrap-reverse;
    ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse; }
  /* line 4, C:/wamp/www/Menu/src/css/MediaQueries.scss */
  nav ul li {
    display: block; }
  /* line 6, C:/wamp/www/Menu/src/css/MediaQueries.scss */
  .info_footer, .body_footer {
    display: block;
    width: 100%; }
  /* line 8, C:/wamp/www/Menu/src/css/MediaQueries.scss */
  .contentBarMenuAcces {
    display: block;
    height: 50px; }
  /* line 10, C:/wamp/www/Menu/src/css/MediaQueries.scss */
  nav ul {
    display: none; } }

/*# sourceMappingURL=style.css.map */

@media screen and (max-width: 640px) {
  /* line 2, C:/wamp/www/Menu/src/css/MediaQueries.scss */
  footer {
    display: flex;
    flex-wrap: webkit-wrap-reverse;
    flex-wrap: ms-wrap-reverse;
    flex-wrap: wrap-reverse; }
  /* line 4, C:/wamp/www/Menu/src/css/MediaQueries.scss */
  nav ul li {
    display: block; }
  /* line 6, C:/wamp/www/Menu/src/css/MediaQueries.scss */
  .info_footer, .body_footer {
    display: block;
    width: 100%; }
  /* line 8, C:/wamp/www/Menu/src/css/MediaQueries.scss */
  .contentBarMenuAcces {
    display: block;
    height: 50px; }
  /* line 10, C:/wamp/www/Menu/src/css/MediaQueries.scss */
  nav ul {
    display: none; } }

/*# sourceMappingURL=MediaQueries.css.map */